<div class="flex flex-col mb-2 gap-1 w-full">
  @field.root({ name })
    @!field.label({
      text: label,
      class: 'text-muted-foreground text-sm font-[400]',
    })
    @!input.control({
      type: type | 'text',
      class: 'bg-surface rounded-lg px-[10px] py-[12px] border-1',
      placeholder: 'Digite sua senha',
    })
    @!field.error()
  @end
</div>
