@layout()
  @auth.card({
    eyebrow: 'Comece agora',
    title: 'Crie sua conta',
    description: 'Organize seus cursos, salve vídeos e acompanhe cada conquista',
  })
    <div class="w-full max-w-md">
      @form({ route: 'new_account.store', method: 'POST', class: 'flex flex-col gap-2' })
        @!ui.input({
          name: 'fullName',
          label: 'Nome completo',
          placeholder: 'Como devemos chamar você?',
        })
        @!ui.input({
          name: 'email',
          label: 'E-mail',
          placeholder: 'voce@exemplo.com',
        })
        @!ui.input({
          name: 'password',
          label: 'Senha',
          placeholder: 'Crie uma senha forte',
        })
        @!ui.input({
          name: 'passwordConfirmation',
          label: 'Confirmar senha',
          placeholder: 'Digite a senha novamente',
        })

        <div class="flex items-center gap-[4px] my-5 ">
          <input type="checkbox" name="keep" id="keep" />
          <label for="keep" class="text-xs text-muted-foreground">
            Li e aceito os Termos de Uso e a Política de Privacidade
          </label>
        </div>
        @!ui.button({
          text: 'Criar conta',
          variant: 'primary',
          type: 'submit',
          fullWidth: true,
        })
      @end
      @!auth.footer({
        text: 'Já tem uma conta?',
        linkText: 'Entrar',
        link: '/login',
      })
    </div>
  @end
@end
